# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# # Django migrations
# */migrations/

# Environment variables (do not commit the .env file)
.env
.gitignore


# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Static and media files
# /static/
# **/static/
**/media/

safe_env/
